
.testimonial {
    background: linear-gradient(#fff, rgb(243, 224, 190)); 
    padding: 20px 0;
}
.testi {
    background-color: rgb(94, 94, 237);
    padding: 20px;
    text-align: center; 
}
.slider .slick-slide {
    padding-right: 5px;
}
.slick-prev::before, .slick-next::before {
    color: green;
    font-size: 1.5rem;
}
@media (max-width: 780px) {
    .slick-prev::before,
    .slick-next::before {
        display: none;
    }
}
@media (max-width: 580px) {
    .slide-part{
        overflow: hidden;
    }
    .testi p{
        font-size: 0.8rem;
    }
    .testi img {
        width: 80px;
        height: 80px;
    }
}
